pandas
numpy
scikit-learn
matplotlib
seaborn
great_expectations
openpyxl
jupyter
ipykernel
kneed
statsmodels
mlflow
prophet
torch
streamlit
plotly
starlette>=0.42.0,<0.49.0
psycopg2-binary
redis
lightgbm
