pandas
numpy
scikit-learn
matplotlib
seaborn
openpyxl
kneed
statsmodels
mlflow
evidently>=0.7,<0.8
prophet
streamlit
plotly
starlette>=0.42.0,<0.49.0
psycopg2-binary
redis
sqlalchemy
lightgbm
xgboost
optuna
shap
fpdf2
PyJWT
lifetimes
groq
python-dotenv
prometheus_client
locust
